.no-select {
  user-select: none;
  -webkit-user-select: none; /* Chrome, Safari */
  -ms-user-select: none;     /* Edge */
}
.shortcut{
    width: 80px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.25s ease-out;
}
.shortcut-img{
    width: 48px;
    height: 48px;
}
.short-name{
    font-size: 19px;
    font-weight: 300;
}
.shortcut:hover{
    cursor: pointer;
    background-color: rgba(33, 116, 188, 0.416);
}
.start{
    border-radius: 8px;
    background-color: #242424;
    position: absolute;
    left: 15px;
    bottom: 5px;
    height: 80%;
    width: 500px;
    z-index: 99;
    padding: 18px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    animation: open .35s ease-out ;
}
@keyframes open{
    0%{
        height:0%;
        display: none;
    }
    100%{
        height:80%;
        display: flex;
    }
}

.line{
    position: relative;
    transition: all 0.25s linear;
    border-radius: 8px;
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    cursor: pointer;
    opacity: 0.85;
    
}
.group{
    position: relative;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
}
.line-img{
    height: 40px;
}
.line-img-arr{
    height: 34px;
    opacity: 0.85;
    rotate: -180deg;
}
.line-text{
    font-weight: 400;
    font-size: 15px;
}
.line:hover{
    opacity: 1;
    background-color: #313131;
}
.topcat{
    position: relative;
    transition: all 0.25s linear;
    border-radius: 8px;
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    opacity: 0.95;
}
.topcat:hover{
    opacity: 1;
    background-color: #313131;
}
.Barrow{
    rotate: 90deg;
    opacity: 0.9;
}
.lines-parent{
    height: fit-content;
    width: 100%;
    padding-left: 18px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
    transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.hide{
    transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    height: 0;
}
.hide + .Barrow {
  transform: rotate(-90deg);
}
.toptext{
    font-size: 17px;
    font-weight: 300;
}
.no-rot{
    rotate: 0deg;
}
.window{
    position: absolute;
    min-width: 250px;
    max-width: 100%;
    z-index: 2;
    background-color: #191919;
    min-height: 280px;
    border-radius: 8px;
    transform-origin: top right;
    transform: scale(1);
    will-change: transform;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
}
.window-top{
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ex:hover{
    background-color: rgb(200, 16, 16);
}
.controls{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap:2px;
}
.cont-button{
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    transition: all 25ms cubic-bezier(0.23, 1, 0.320, 1);
}
.cont-button:hover{
    background-color: #24242449;
}
.cont{
    width: 15px;
}
.win{
    position: relative;
    width: 55px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    transition: all 0.2s linear;
    cursor: pointer;
}
.win:active .win-img{
    scale: 0.92;
}
.win:hover{
    background-color: #383838;
}
.using{
    background-color: #383838;
}
.win-img{
    width: 34px;
    height: 34px;
    margin-left: 2px;
}
.win:hover .ac{
    width: 30px;
}
.ac{
    position: absolute;
    background-color: lightblue;
    width: 25px;
    height: 3px;
    border-radius: 2px;
    bottom: 8px;
}
.minimized{
    transform-origin: bottom left;
    transform: scale(0);

    transition: all 0.2s linear;
}
.window-centent{
    width: 100%;
    height: 100%;
    position: relative;
}