.browser-window{
    width: 100%;
    height: 100%;
    position: relative;
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.gallery-window{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    background-color: #1a1a1a;
}
.images-container{
    width: 90%;
    height: 90%;
    overflow-y: auto;
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, auto);
}
.image-item{
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.25s ease;
}
.img-in-gallery{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.25s ease;
}
.img-in-gallery:hover{
    transform: scale(1.05);
}
#gal-t{
    font-size: 22px;
    text-align: left;
    font-weight: 400;
    color: wheat;
}